{{#each discussions as |discussion|}}
  {{log discussion}}

  <li data-id="{{discussion.id}}">
    <strong>{{discussion.title}}</strong>
    {{#if discussion.editable}}
      <button class="update-topic" data-toggle="modal" data-target="#udpateTopicModal" data-id="{{discussion.id}}" type="button">Modify</button>
    {{/if}}
  </li>
{{/each}}
