$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

a {
  color: $pure-white;
}

body {
  background-color: $pure-white;
  text-align: center;
}

button {
  border-color: $pure-black;
  border-radius: 10px;
  color: $pure-black;
  display: block;
  font-size: 16px;
  margin: 10px auto;
}

button.edit, button.remove, .modal-footer button {
  color: $pure-black;
  border: thin $pure-black solid;
}

button.update-topic, button.upvote, button.downvote {
  font-size: 12px;
  margin: 5px;
  font-weight: bold;
}

button:hover,
.btn:hover {
  background-color: $sea-green;
  color: $pure-white;
}

button:disabled {
  color: $gainsboro-gray;
  border-color: $gainsboro-gray;
  background-color: $pure-white;
}

nav button {
  background-color: $pure-white;
  border: thick solid $pure-white;
  color: $pure-black;
  float: right;
  margin: 10px;
}

footer {
  background-color: $pure-black;
  bottom: 0;
  color: $pure-white;
  height: 30px;
  left: 0;
  line-height: 30px;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

footer.row {
  margin: 5px 0px 0px 0px;
}

input {
  display: block;
  margin: 5px auto;
}

main {
  margin-bottom: 50px;
}

nav {
  background-color: $pure-black;
  color: $pure-white;
  margin: 0;
}

.table {
  text-align: left;
  max-width: 90%;
  margin: auto;
  border: 2px $pure-black solid;
}

.admin {
  background-color: $pure-black;
  color: $pure-white;
  padding: 10px;
  margin: 10px 20px;
  border: thick $crimson-red solid;
}

.auth-alert-main,
.auth-alert-modal {
  color: $pure-black;
  font-weight: bold;
  margin-bottom: 0;
}

.container-fluid {
  padding: 0;
}

.discussions button {
  display: inline;
}

.edit:hover {
  background-color: $sea-green;
}

.hidden {
  display: none;
}

.navbar {
  margin-bottom: 0;
}

.remove:hover {
  background-color: $crimson-red;
}

.winners-list tr {
  background-color: white;
  color: black;
}

#message {
  color: $pure-black;
  font-size: 18px;
  padding: 5px;
  text-align: center;
}

#pick-winners-form input {
  color: black;
  display: inline;
}

// override default
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
